* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Fragment Mono", monospace;
  text-align: center;
}

button {
  all: unset;
}

a,
button {
  color: white;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover,
button:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input {
  font-family: "Fragment Mono", monospace;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2em;
}
